<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Marvel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A941FD7827AB09FA0011031D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A941FD8E27AB09FD0011031D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A941FD9827AB09FD0011031D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
